/* 需要重置--------------------------------------- */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.red {
    color: #e92322;
}
/* 表格内容居中 */
.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

/* 登录页面公共样式-------------------------------------- */
.body_bg {
    background-color: #222D32;
}
.mt-150 {
    margin-top: 150px;
}
.panel-title {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

/* 首页公共样式------------------------------------------------- */
.mt_20 {
    margin-top: 20px;
}
.lt_aside {
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222D32;
    z-index: 999;
    transition: all 1s;
}
.lt_aside.hidemenu {
    left: -180px;
}
.lt_aside .brand {
    height: 50px;
    width: 180px;
    background-color: #367FA9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.lt_aside .brand a {
    color: #fff;
}

.lt_aside .user {
    height: 180px;
    padding-top: 30px;
    text-align: center;
}
.lt_aside .user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.lt_aside .user p {
    font-size: 25px;
    color: #fff;
}
.lt_aside .nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
}
.lt_aside .nav li a.current {
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}
.lt_aside .nav li a i {
    margin-right: 5px;
}
.lt_aside .nav li .child {
    display: none;
}
.lt_aside .nav li .child a {
    padding-left: 60px;
}

.lt_main {
    padding-left: 180px;
    padding-top: 50px;
    transition: all 1s;
}
.lt_main.hidemenu {
    padding-left: 0px;
}
.lt_main .lt_topbar {
    height: 50px;
    width: 100%;
    background-color: #3C8DBC;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    padding-left: 180px;
    transition: all 1s;
}
.lt_main .lt_topbar.hidemenu {
    padding-left: 0px;
}
.lt_topbar .icon_left,
.lt_topbar .icon_right  {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}


/* 图表容器 */
.echarts_left,
.echarts_right {
    height: 400px;
    width: 48%;
}
